@charset "utf-8";
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table,caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;font-family: 'Montserrat', sans-serif;}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {font-size: 13px;color:#777;line-height: 1.5rem;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: "";content: none;}
table {border-collapse: separate;border-spacing: 0;border-top: 1px solid #e9e9e9;border-right: 1px solid #e9e9e9;width: 100%;text-align: center;}
table td {border-left: 1px solid #e9e9e9;border-bottom: 1px solid #e9e9e9;padding: 15px 0;}
a{text-decoration: none;outline:none;cursor: pointer}
a:hover{text-decoration: underline;}
.cf:before,.cf:after{content:"";display:table;clear:both;}
.inner{max-width: 1130px;margin:0 auto;position: relative;width: 100%;padding: 0 15px;box-sizing: border-box;}
.inner .inner {width:100%;}


/* header */
header{border-bottom:1px solid #ddd}
.sns {position: absolute;top: 24px;right: 0;left: 0;}
.sns .inner,nav .inner {
    text-align: right;
}
ul.sns_list, header h5.tel, .body_home header h5.emailus {
    display: inline-block;
    line-height: 1.1rem;
}
ul.sns_list li{display:inline-block;width: 26px;margin-left:5px;text-align: center;height: 26px;}

ul.sns_list li a {
    color: #777;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 1px solid #777;
    width: 100%;
    display: block;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	    line-height: 1rem;
}
ul.sns_list li a:hover{color:#fab702;border-color:#fab702}
ul.sns_list li a span{text-indent:-9999em;overflow: hidden;display: inline-block;}

header .sns .inner h5 span{color: #c2c2c2;
    font-size: 0.01rem;
    font-weight: inherit;
    display: inline-block;
    margin-right: 0.4rem;}

header .sns .inner h5 a {
    color: #fab702;
    padding-right: 0.5rem;
}


header .inner div {
    text-align: right;
}

header .logo a {display:block;width: 179px;background: url(../images/logo.jpg) no-repeat 0 50%;height: 26px;margin: 43px 0;text-indent:-9999em;overflow: hidden;z-index: 100;position: relative;}
.body_home .logo a {margin: 90px auto 45px;}

header nav {
    position: absolute;
    top: 53px;
    right: 0;
    left: 0;
    clear: both;
}
header nav .inner ul {
    float: right;
}

nav ul li,.body_portfolio .content_wrap ul.sort_list li{
    display: block;
    float: left;
}
nav ul li a,
.body_portfolio .content_wrap ul.sort_list li a{
    display: block;
    text-decoration: none;
    color: #999;
    font-size: 0.85rem;
    padding: 17px 19px;
    margin: 0;
    text-transform: capitalize;
}
nav ul li a:hover, 
.body_portfolio .content_wrap ul.sort_list li a:hover, 
.body_portfolio .content_wrap ul.sort_list li a.active,
.body_home nav ul li:nth-child(1) a, 
.body_about nav ul li:nth-child(2) a, 
.body_portfolio nav ul li:nth-child(3) a,
.body_contact nav ul li:nth-child(4) a{color:#fab702;font-weight: bold;}
nav ul li:last-child a {
    padding-right: 0;
}




.sub_header {
    background: #f8f9f9;border-bottom:1px solid #ddd
}
.sub_header h2 {
    font-size: 1.35rem;
    padding: 50px 0;color: #333;
    text-transform: uppercase;
    font-weight: bold;
}
.sub_header div h2 +a {
    display: block;
    position: absolute;
    right: 0;
    font-size: 0.1rem;
    text-decoration: none;
    background: #fff;
    border: 1px solid #ddd;
	box-shadow: 0 1px 2px #ddd;
    padding: 8px 24px;
    border-radius: 2px;
    top: 36px;
    color: #888;
}
.sub_header .breadcrumb li {
    display: inline-block;
}

.sub_header .breadcrumb li a {
    font-size: 0.1rem;
    text-decoration: none;
    color: #777;
    display: block;
    text-transform: capitalize;
}

.sub_header .breadcrumb {
    clear: both;
    padding: 20px 0;
    border-top: 1px solid #ddd;
    background-color: #fff;
    border-radius: 0;
    margin-bottom: 0;
}

.sub_header .breadcrumb li a:before {
    content: ">";
    display: inline-block;
    color: #c5c5c5;
    font-size: 0.8rem;
    font-weight: normal;
    padding: 0 7px;
    line-height: 1.1rem;
    vertical-align: middle;
}
.sub_header .breadcrumb li:first-child a:before {
    content: none;
}



/* header home */
.body_home .sns {
    top: 0;
    background-color: #f8f9f9;
    border-bottom: 1px solid #e9e9e9;
}

.body_home .sns .inner .sns_list {
    float: left;
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    line-height: 44px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}

.body_home .sns .inner .sns_list li {
    margin: 0;
    padding: 0 2px;
}

.body_home .sns .inner .sns_list li a {
    border-radius: 0;
    border: none;
}


.body_home header .sns .inner h5 {
    padding: 0 15px;
    border-right: 1px solid #e9e9e9;
    float: right;
    line-height: 43px;
}

.body_home header .sns .inner h5.emailus {
    border-left: 1px solid #e9e9e9;
}
.body_home header .sns .inner h5.emailus a {
    padding-right: 0;
}
.body_home header nav .inner ul li {
    float: none;
    display: inline-block;
}

.body_home .sub_header {
    display: none;
}
.body_home header nav {
    position: static;
    text-align: center;
    border-top: 1px solid #e9e9e9;
}

.body_home header nav .inner ul {
    float: none;
    text-align: center;
}

.content_wrap {
    padding: 50px 0;overflow: hidden;
}


.body_about .content_wrap article,  .main_wwd .inner div article, .main_fw .inner div article, .main_news .inner div article{
    margin-bottom:40px;
}

figure img {
    display: block;
    width: 100%;
}
.body_about .content_wrap h3 a, 
.main_wwd article h3 a, 
.main_news .inner div article h3 a {display:block;color:#333;font-size:1rem;margin-top: 25px;margin-bottom: 10px;}
.content_wrap article p+a {
    display: inline-block;
    color: #fab702;
    margin-top: 23px;
}



/* home */

.body_home .content_wrap {
    padding-top: 0;
    padding-bottom: 80px;
}
.main_img_wrap {
    background: url(../images/img_h_00.jpg) no-repeat 0 0 #f9f9f9;
    padding-top: 545px;
    background-size: 100% auto;
}
.main_img_wrap .inner {
    margin-top: -419px;
}
.main_img_wrap h2 {
    font-size: 1.9rem;
    line-height: 100%;
    text-transform: uppercase;
}

.main_img_wrap h2,.main_img_wrap h2+p {
    color: #fff;
}

.main_img_wrap h2+p {margin-bottom: 1.5rem;margin-top: 1.5rem;}

body .btn_st1 {
    position: static;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.7rem;
    margin-right: 6px;
}

.btn_st2 {
    border: 2px solid #fff;
    padding: 6px 24px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.7rem;
    display: inline-block;
    border-radius: 2px;
}

.main_img_wrap .article_wrap {
    margin-top: 80px;
    padding-bottom: 50px;
}



.main_img_wrap .article_wrap article a {
    display: block;
}

.main_img_wrap .article_wrap article a.video:after {content: "\f04b";width: 26px;height: 26px;display: block;position: absolute;right: 20px;top: 20px;color: #fff;font-family: fontAwesome;font-size: 12px;border: 2px solid #fff;border-radius: 50%;line-height: 24px;text-align: center;padding-left: 2px;}

.main_img_wrap .article_wrap article h3 {
    margin-top: 25px;
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
}

.main_img_wrap .article_wrap article a.col_y {
    text-transform: uppercase;
    font-size: 0.85rem;
    padding: 13px 0;
    margin-top: 0;
}

.main_img_wrap .article_wrap article a.col_y:hover {text-decoration:underline;}

.bg_b{background-color:#222;}

h3.tit_st1 {
    font-size: 1.3rem;
    line-height: 3rem;
    color: #333;
    margin: 30px 0;
    position: relative;
}

h3.tit_st1:after {content: "";display: block;position: absolute;height: 2px;width: 80px;background-color: #fab702;}

.bg_b h3.tit_st1 {color:#fff;}
.bg_b h3.tit_st1:after{background-color:#444;}
.main_us .row .col-md-4 {
    
    padding-top: 30px;padding-bottom:70px;
    
}
.row.text-center .col-md-4 h5 {
    color: #333;
    line-height: 100%;
    font-size: 1rem;
    margin: 35px 0 20px;
}
.main_wwd.cf {
    padding-bottom: 40px;
}

.main_wwu {background: url(../images/img_h_04.jpg) no-repeat 50% 0;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;padding-top:155px;background-size: cover;padding-bottom: 140px;} 
.main_wwu * {color: #fff;text-transform: uppercase}
.main_wwu span{line-height:100%;font-size:0.85rem;}
.main_wwu h2 {font-size: 1.75rem;line-height: 2.5rem;margin: 5px 0 22px;}
.body_home .content_wrap article p+a{margin-top:13px;}

.pager{
    position: absolute;
    right: 0;
    top: 16px;
    margin: 0;
}
.pager li{display:inline-block;}
.pager li a{display: block;width: 35px;height: 35px;line-height: 35px;font-size: 1rem;border: 2px solid rgba(204, 204, 204, 0.5);color: rgba(204, 204, 204, 0.5);text-align: center;padding: 0;border-radius: 0;background-color: transparent;}
.pager li a:hover{border-color:#fab702;color:#fab702;text-decoration: none;background-color: transparent;}

.main_fw {
    padding: 20px 0 0;
}
.main_news .inner div.news_meta {
    margin-left: 0;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    font-size: 0.8rem;
    line-height: 2rem;
    margin-bottom: 11px;
}

.main_news .inner div.news_meta i {
    margin-right: 8px;
}

.main_news .inner div.news_meta i:before {margin-right: 7px;}

.main_news .inner div.news_meta + p {
    line-height: 24px;
    max-height: 72px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

body a.btn_st3 {
    color: #777!important;
    border: 1px solid #e9e9e9;
    padding: 0 11px;
    line-height: 1.8rem;
    border-radius: 2px;
    box-shadow: 0 1px 1px #e9e9e9;
}

body a.btn_st3:hover {
    color: #333!important;
    border-color: #333;
    text-decoration: none;
    box-shadow: 0 1px 1px #777;
}

.main_oc.col-md-6{padding-left:0;padding-right:30px;}
.main_tm.col-md-6{padding-right:0;padding-left:30px;}
.main_oc.col-md-6:last-child{padding-right:0;}
.main_oc.col-md-6 .row {display:flex;border-bottom:1px solid #e9e9e9;border-right:1px solid #e9e9e9;flex-wrap: wrap;margin-left: 0;}
.main_oc.col-md-6 .row .col-md-4 {flex-grow:3;border-top:1px solid #e9e9e9;border-left:1px solid #e9e9e9;padding: 15px 0;display: flex;align-items: center;}
.main_oc.col-md-6 .row .col-md-4 * {
    vertical-align: middle;
}
.main_oc.col-md-6 .row .col-md-4 a{
    margin: 0 auto;
}
.main_tm.col-md-6 div p {
    border: 1px solid #e9e9e9;
    padding: 15px 20px 35px;
    box-sizing: border-box;
}

.main_tm_profile {
    margin-top: -20px;
    display: block;
    padding-left: 20px;
    position: relative;
}

.main_tm_profile img {
    display: block;
    border-radius: 50%;
    position: absolute;
}

.main_tm_profile h5 {
    margin-left: 90px;
    padding-top: 25px;
    color: #333;
    font-size: 0.9rem;
}





/* portfolio */
.body_portfolio .content_wrap .inner ul.sort_list li a{font-weight: lighter;}
.body_portfolio .content_wrap .inner ul.sort_list{overflow: hidden;margin-bottom: 15px;}
.body_portfolio .content_wrap .inner div article,
.main_fw .inner div article{position: relative;}
.body_portfolio .content_wrap article {
    margin-bottom: 2.55%;
}
.body_portfolio .content_wrap .inner div article figure +span,
.main_fw .inner div article figure + span{position: absolute;left: 15px;right: 15px;overflow: hidden;transition: height 0.5s, background-color 0.5s;-webkit-transition: height 0.5s, background-color 0.5s;font-size: 0.85rem;color: #fff;bottom: 0;height: 0;}
.body_portfolio .content_wrap .inner div article:hover figure+span,
.main_fw .inner div article:hover figure+span{
    background-color: rgba(0, 0, 0, 0.51);
    height: 100%;
    }
.body_portfolio .content_wrap .inner div article span a,
.main_fw .inner div article span a,
.btn_st1, input[type="submit"]{display: inline-block;font-size:0.85rem;background-color:#fab702;color:#fff;padding:8px 24px;border-radius: 2px;font-weight: bold;position: absolute;bottom: 18px;left: 21px;}
.body_portfolio .content_wrap .inner div article span a:hover,
.main_fw .inner div article span a:hover,
.btn_st1:hover{text-decoration: none;background-color: #ffbe0f;}
.body_portfolio .content_wrap .inner div article span figcaption,
.main_fw .inner div article span figcaption{position: absolute;
    bottom: 70px;
    left: 21px;
    text-transform: uppercase;}

/* contact */
.body_contact header {
    background: url(../images/img_c_bg.jpg) no-repeat 50% 0;
    background-size: cover;
    height: 416px;
}
.body_contact header .logo a{background-image:url(../images/logo_w.png);margin: 0;padding-top: 71px;background-position: 0px 100%;}
.body_contact header ul.sns_list li a,
.body_contact header nav ul li a {
    color: #fff;
    border-color: #fff;
}
.contact_header {
    color: #fff;
}

.contact_header h2 {
    font-size: 2rem;
    line-height: 100%;
    text-transform: uppercase;
    text-shadow: 0 1px 2px #000;
    margin-bottom: 15px;
    margin-top: 105px;
}
.body_contact .sub_header > .inner {
    display: none;
}

.body_contact .sub_header .breadcrumb {
    border-top: 0;
}
.body_contact input[type="text"], textarea {
    width: 100%;
    border: 2px solid #e9e9e9;
    border-radius: 2px;
    line-height: 1rem;
    padding: 10px 15px;
    box-sizing: border-box;
    margin-bottom: 18px;
    resize: none;
}


input[type="submit"] {
    position: static;
    border: none;
    padding: 18px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.body_contact .col-md-6 h3 {
    color: #333;
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 11px;
}

.col_y {
    color: #fab702;
}

.body_contact .col-md-6 p {
    margin-bottom: 30px;
}
.google_map{width:545px;height:423px}

/* footer */
footer{background-color:#111;color:#fff;padding-top: 75px;padding-bottom: 40px;}
footer.copyright {background-color:#222;padding-top:0;padding-bottom:0}
footer.copyright p {color:#777;padding: 28px 0;}
.col_w{color:#fff}
footer .service_menu{position: absolute;right:0;top: 28px;}
footer .service_menu li{display: inline-block;margin-left: 6px;}
footer .service_menu a {color:#fff;}

footer .col-md-3 h3 {
        font-size: 1rem;
    margin-top: auto;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

footer .col-md-3 p {
    color: #999;
    margin-bottom: 20px;
}

footer .col-md-3 {
    float: left;
    width: 25%;
    box-sizing: border-box;
    padding-left: 3%;
    font-size: 0.7rem;
}
.col-md-3 ul li {
    color: #999;
}

footer .inner .col-md-3:nth-child(2) ul li {
    width: 50%;
    float: left;
}

footer .inner .col-md-3:nth-child(2) ul li a {
    color: #fff;
    display: block;
    margin-bottom: 15px;
    text-transform: capitalize;
}
footer .inner > div:first-child {
    background-color: #fab702;
    position: absolute;
    top: -90px;
    color: #333;
    padding: 11px 17px;
}
footer .inner > div:first-child:before {
    content: "";
    display: block;
    position: absolute;
    left: -16px;
    top: 0px;
    border-style: solid;
    border-color: transparent #777 #777 transparent;
    border-width: 15px 8px 0px 8px;
}
footer .inner .col-md-3:nth-child(3) ul li {
    padding-left: 27px;
    background-repeat: no-repeat;
    margin-bottom: 6px;
}
footer .inner .col-md-3:nth-child(3) ul li.pick{background-image:url(../images/ico_pick.jpg);background-position: 3px 5px;}
footer .inner .col-md-3:nth-child(3) ul li.phone{background-image:url(../images/ico_phone.jpg);background-position: 3px 6px;}
footer .inner .col-md-3:nth-child(3) ul li.email{background-image:url(../images/ico_email.jpg);    background-position: 3px 6px;
    background-size: auto 13px;}
footer .inner .col-md-3:nth-child(3) ul li.fax{background-image:url(../images/ico_fax.jpg);background-position: 1px 4px;}
footer .inner > div:first-child h5 {
    display: inline-block;
}
footer ul.sns_list li a,footer ul.sns_list li a:hover {
    color: #333;
    border-color: #333;
}
footer .inner .row {overflow: hidden;margin-left: -3%;}
.col-md-3 ul li a{color:#fff}

footer .inner .col-md-3:nth-child(4) ul li {
    border-bottom: 1px dotted #2d2d2d;
    line-height: 2.3rem;
    position: relative;
}
footer .inner .col-md-3:nth-child(4) ul li:last-child{border-bottom:0;}
footer .inner .col-md-3:nth-child(4) ul li span {
    position: absolute;
    right: 0;
    font-weight: bold;
    color: #ababab;
}